In [1]:
print('hello World')

hello World

In [3]:
# use quit()
good-bye

NameError: name 'good' is not defined

In [ ]:
# if a reserve word
if you don't mind.

In [27]:
x=6
print(x)

6

In [28]:
y=x*7
print(y)

42

In [29]:
print (4)

4

In [30]:
# type of value. strings - within quotations
type ('Hi World')

str

In [31]:
# type - integer
type (18)

int

In [32]:
# type - float
type(2.8)

float

In [33]:
type - strings - within quotation marks
type('18')

SyntaxError: invalid syntax (<ipython-input-33-bff15d9cc420>, line 1)

In [34]:
# interpreted as a comma seperated sequence of integers
print (1,000,000)

1 0 0

In [35]:
# Variables - 3 assignments (string to messsage); integer to 18); approx value of pi to pi
# Variables - case sensitive; underscore(_) can appear in a name
# Variables - 96reverse is illegal as it begins with a number
# Variables - paint@ is illegal as it contains '@'

# Python has 33 keywords eg lambda
message = 'gobsmack'
n = 18
pi = 3.14159265

#print(n)
#print (pi)

#type(message)
#type(n)
type(pi)

float

In [36]:
# Statements - A script contains a sequence of statements. If more than one statement. the results appear one at a
# time as the statements execute


print(1)
x = 2
print(x)

1
2

In [37]:
# Operators/Operands
# '+, -, *, /'
#20+32
#5**2
#(5+9)*(15-7)

In [38]:
minute =59
minute/60

0.9833333333333333

In [39]:
# Expression - a combination of values, variable and operators.
# An expression by itself doesn't work
# Order of opearions - PEMDAS - as precedence
5
x=5
x+1

6

In [40]:
# Modus Operator - %; gives the remainder
#quotient = 7//3
#print(quotient)

remainder = 7%3
print(remainder)

1

In [41]:
# string - + ; performs concatenation, join the strings by linking them end to end

#first =10
#second = 11
#print(first+second)

first = '111'
second = '181'
print (first + second)

111181

In [42]:
#string - * operator, multiply the content of a string by an integer

first = 'M'
second = 3
print(first * second)

MMM

In [43]:
# Asking user for input. Python built in function 'input'
#name = input()
#input in dialog box
#print(name)

In [44]:
#name = input()

In [45]:
#print(name)

In [46]:
# Python has no understanding of pizza and slices
for slice in pizza:
    print(slice)

NameError: name 'pizza' is not defined

In [47]:
# Debugging

# bad name = 5 - invalid syntax. Put a space in a varaible name

# month =09 - invalid token 

#principal = 345.67
#interest = principle * rate - name 'principle is not defined'

In [48]:
# Variable names are case sensitive

# to evaluate 1/2pi, cannot write 1.0/2.0*pi as division happens first

In [49]:
#Boolean Expression
# Use operator '=='; a comparison operator
#5==5
5==6

False

In [50]:
#type(True)
type(False)

bool

In [51]:
# Logical operators: and, or and not

# conditional Statements eg 'if' statement

x = 3
if x < 10:
    print('small')

small

In [52]:
# Alternative execution

x=3
if x%2 == 0 :
    print('x is even')
else :
    print ('x is odd')

x is odd

In [53]:
# Chained conditionals. More than 2 possibilities

#if choice == 'a' :
    #print('bad')
#elif choice == 'b' :
    #print('good')
#elif choice == 'c' :
   # print ('close but not good')

In [54]:
# Nested conditional. One conditional nested with another. Good to avoid !

x = 3
y = 1

if x == y:
    print ('x and y are equal')
else:
    if x < y :
        print ('x is less than y')
    else:
        print('x is greater than y')

x is greater than y

In [55]:
# Catching exceptions using try and except

# if try works skip to except
# if try fails goto except

#inp = input ('Enter Fahrenheit Temp:')
try:
    fahr = float(inp)
    cel = (fahr - 32.0) * 5.0/9.0
    print(cel)
except:
    print('enter a number')

enter a number

In [56]:
#short circuit evaluation of logical expression

#x = 6
#y = 2
#x >=2 and (x/y) >2

x =1
y =0
x >= 2 and (x/y) >2

False

In [57]:
# Failed because of the evaluation x/y and y was zero.
# Above didn't fail because 'x>=2 evaluated to False so 'x/y' was not executed dur to shour ciruit rule

x = 6
y = 0
x >= 2 and (x/y)>= 2

ZeroDivisionError: division by zero

In [58]:
# 'y!=0' acts as a guard to insure that only execute (x/y) if y is non zero
x =6
y = 0
x >=2 and y!=0 and (x/y) >2

False

In [59]:
#'y!=0' is after the (x/y) calc so the fail
x =6
y =0
x >= 2 and (x/y) >2 and y!=0

ZeroDivisionError: division by zero

In [60]:
#Debugging
# Indentation error.Error message points to y that is misleading 
x =5
 y = 6

IndentationError: unexpected indent (<ipython-input-60-22016212f770>, line 4)

In [61]:
# Functions - when you define a function, you specify the name and the sequence of statements. Name of function
# is 'type'. The expression in parentheses is the argument of the function.


type (32)

int

In [62]:
# Built In functions. mas and min functions give us the largest and smallest values

# max('Hi ming') # largest character in a string

min ('Hi ming') # smallest character in a string

' '

In [63]:
# Arg to 'len' is a string,returns the number of characters in a string.
len('Hi Ming')

7

In [64]:
# Type conversion functions/ 'int' takes any value and converts it to an integer.'int' can conver floating point 
# values to integers

#int('32')
int(3.888888)

3

In [65]:
# float converts integers n strings to floating point numbers

#float(32)

float ('3.24259')

3.24259

In [66]:
# Random Numbers

import random

for i in range(10):
    x = random.random()
    print(x)

0.9389201664029562
0.1551316588904741
0.3381438969189169
0.12883045539275162
0.417727220424298
0.23280105719069089
0.005152104764727494
0.00480280161851554
0.3462299813481432
0.2901338976563286

In [67]:
# 'randit' function takes the parameters low and high, returns an integer btw low n high (including both)

random.randint (5,10)

6

In [68]:
# 'choice' - choose an element from a sequence at random. Random Module also provides functions to generate random
# values frm continuous distributions including Gaussian, exponential, gamma, etc.

t = [1,2,3]
random.choice(t)

3

In [69]:
# Math function

import math

print(math)

<module 'math' from '/Users/apple/anaconda3/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so'>

In [70]:
# Access one of the functions and variables in the math module, specify name of module and name of function. Other trig
# functions (cos,tan, etc) takes arg in radians. Convert from degress to radians, divide by 360 and multiply by 2pi.

#ratio = signal_power/noise_power
#decibels = 10 * math.log10(ratio)

#radian = 0.7
#height = math.sin(radians)

In [71]:
degrees = 45
radians = degrees/360.0 * 2 *math.pi
math.sin(radians)

0.7071067811865475

In [72]:
math.sqrt(2)/2.0

0.7071067811865476

In [73]:
# Adding new functions. Name of the function is 'print_lyrics'. Avoid having a variable ad a function with the
# same name.Empty parantheses after the name indicate that this function doesn't take any arg.

def print_lyrics():
    print('I paint all night and ride all day')

In [74]:
# Defining a function createa a variable with the same name
print(print_lyrics)

<function print_lyrics at 0x109c43488>

In [75]:
print(type(print_lyrics))

<class 'function'>

In [76]:
# Syntax for calling the function
print_lyrics()

I paint all night and ride all day

In [77]:
# Define a function and use it inside another function.
def repeat_lyrics():
    print_lyrics()
    print_lyrics()
    
repeat_lyrics()

I paint all night and ride all day
I paint all night and ride all day

In [78]:
# Definitions and uses. Program contains 2 function definitions. Statements inside the functio don;t get executed
# until the function is called, and the function definition generates no output. 

def print_lyrics():
    print('I paint all night')
    print('I ride all day')
    
def repeat_lyrics():
    print_lyrics()
    print_lyrics()
    
repeat_lyrics()

I paint all night
I ride all day
I paint all night
I ride all day

In [79]:

def repeat_lyrics():
    print_lyrics()
    print_lyrics()

def print_lyrics():
    print('I paint all night')
    print('I ride all day')
        
repeat_lyrics()

I paint all night
I ride all day
I paint all night
I ride all day

In [80]:
# Flow of execution

# Function definitions don't alter the flow of execution. Statements inside the function are not executed until the
# function is called.

# Function call is like a detour in the flow of execution. Instead of going to the next statement the flow jumps to
# the body of the function excutes all the statements there and then comes back to pick up where it left off.

# Note that one function can call another.

In [81]:
# Parameters and arguments

# Inside the function, the arg are assigned to variables called parameters

def print_twice(bruce):
    print(bruce)
    print(bruce)

print_twice

In [82]:
#print_twice('Spam')

import math
print_twice(math.pi)

3.141592653589793
3.141592653589793

In [83]:
# The arg is evaluated b4 the function is called.

#print_twice('spam ' * 4)

print_twice(math.cos(math.pi))

-1.0
-1.0

In [84]:
# Variable as an arg.

m = 'Ming, the special'
print_twice(m)

Ming, the special
Ming, the special

In [85]:
# Fruitful functions and Void functions

# Eg. Math functions yield results - fruitful. 'print_twice' performs an action but don't return a value - Void

x = math.cos(radians)

x

0.7071067811865476

In [86]:
golden = (math.sqrt(5) + 1)/2

golden

1.618033988749895

In [87]:
# In interactive mode. Script computes the square root of 5. It doesn't store the result in a variable

math.sqrt(5)

2.23606797749979

In [88]:
# Void function - no return value
result = print_twice('Ming')

print(result)

Ming
Ming
None

In [89]:
# Return a result from a function, use 'return' in the function. Within the function, the para a and b were 3 and 5 
# respectively. function computes the sum of the 2 numbers n placed it in variable 'added'. Then, the return statement
# send the computed # back to the calling code as the function result. that was assigned to the var 'x'.

def addtwo(a,b):
    added = a + b
    return added

x = addtwo(3,5)
print(x)

8

In [90]:
# Iteration

# Updating Variables- B4 updating a var, need to initialize it.

x = 0
x + x + 1

1

In [91]:
# while statement

# the flow of execution: 1) valuate the condition; true or false 2) If false, exit the while statement and continue
# excution at the next statement 3) if true, execute the body n go back to step 1

# This type of excution is a loop, The 3rd step loops back around to the top

n = 5
while n > 1:
    print(n)
    n = n -1
print('Blastoff')

5
4
3
2
Blastoff

In [92]:
# Infinite loops

# Infinite loops n break

# can write an infinite loop n use 'break' to jump out of the loop

# Take input from user until user type 'done'. The loop reuns repeatedly until it hits the break statement/

# while True:
      #line = input('> ')
      #if line == 'done':
        #break
      #print(line)
#print('Done')

In [93]:
# Finishing iterations with 'continue'

# A loop that copies its inputs until the user types 'done'. Treat lines that start with hash as lines not to print

#while True:
    #line = input('> ')
    #if line [0] == '#':
        #continue
    #if line == 'done':
        #break
    #print(line)
#print('Done')

In [94]:
# Definite loops using for

# 'for loop' is looping thru a known set of items; runs theu as many iteratios as there are items in the set
# 'while statement' is an idefinite loop because it loops until some conditions become False.

# 'friend' is the iteration var for the 'for" loop. the var 'friend' changes for each iteration of the loop and
# controls when the 'for' loop completes. The iteration var steps successively thru the 3 strings stored in the
#'friends' variable.

friends = ['Joe', 'Mike', 'Steve']
for friend in friends:
    print('Hi Dude:', friend)
print('Done')

Hi Dude: Joe
Hi Dude: Mike
Hi Dude: Steve
Done

In [95]:
# Counting & Summing loops

# counting the # of items in a list. Set the var count to zero. Iteration variable is itervar - it controls the loop
# n cause the loop body to be executed once for each value in the list. Body of the lopp add 1 to the current value of
# count for each value in the list. while the loop is executing, the value of the count is the number of values seen
# so far. 

# In practice, Python has built in functions len() and sum() that computes # of items n total of items in lists.

count = 0
for itervar in [3,41,12,9,74,26]:
    count = count +1
print('Count:  ', count)

Count:   6

In [96]:
# In this loop, the iteration var is used. Add the actual number [3,41,etc] to the running total during each loop
# iteration. B4 loop starts total is zero, at the end of the loop total is overall total of all the values in the list
# an Accumulator is such a var.

total = 0
for itervar in [3,41,12,9,74,26]:
    total = total + iterval
print('Total: ', total)

NameError: name 'iterval' is not defined

In [97]:
# Max n Min loops

# find the largest value in a list or sequence

# Var 'largest' is best hought of as the largest value seen so far. None is a special constant value which we can
# store in a var to mark the var as empty. After the first iteration, the largest is no longer None, so the second 
# part of the compound logical expression that checks interval > largest triggers only when a value that is larger 
# than the largest so far.

# In practice, Python has built in functions max() and min()

largest = None
print('Before:', largest)
for iterval in [3,41,12,9,74,26]:
    if largest is None or iterval > largest:
        largest = iterval
    print('Loop:', iterval, largest)
print('Largest:', largest)

Before: None
Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 26 74
Largest: 74

In [98]:
# Python built in min() function

def min(values):
    smallest = None
    for value in values:
        if smallest is None or value < smallest:
            smallest =value
    return smallest

In [99]:
# Strings - a sequence of characters

# extract the character at index position1 from the fruit var n assigns it to the letter var. Note the beginning
# of the string is zero. the value of the index has to be an integer

fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [100]:
# using len

fruit = 'banana'
len(fruit)

6

In [101]:
# Use negative indices

fruit = 'banana'
length = len(fruit)
last = fruit [length-1]
print(last)

a

In [102]:
# Traversal thru a string with a loop

# traversal with a while loop. This loop traverses the string and displays each letter on a line by itself.
# the loop condition is index < len(fruit), so when index is equal to the length of the string, the condition
# is false. the last character accessed is index len(fruit) -1. 

fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [103]:
# Using for loop
fruit = 'banana'
for char in fruit:
    print(char)

b
a
n
a
n
a

In [104]:
# string slices

# operator returns the part of the string, including the first character but excluding the last

 s = 'Monty Python'
 #print(s[0:5])
 print(s[6:12])

Python

In [105]:
# string slices. Omit the first index (b4 colon), slice start at the beg of the string. Omit the second index, the
# slice goes to the end of the string/

fruit = 'banana'
#fruit[:3]
fruit[3:]

'ana'

In [106]:
# String are immutable - you can't change an existing string

# Create a new string that is a variation 

# Concantenates a new first letter on a slice of greeting.

greeting = 'Hi, Dude'
new_greeting = 'M' + greeting[1:]
print(new_greeting)

Mi, Dude

In [107]:
# Looping & Counting

# Counts the number of times the letter 'a' appear.

word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

In [108]:
# 'in' operator is a boolean operator. Takes 2 strings and returns True if the first appears as a substring 
# in the second

#a in 'banana' 

'juice' in 'banana'

False

In [109]:
# String Comparison

word = 'banana'
if word == 'banana':
    print('Alright!')

Alright!

In [110]:
# Comparison Operators useful for putting words in alpha order 

word = 'Peach'
if word < 'banana':
    print('Your word,' + word + ', comes b4 banana')
elif word > 'banana':
    print ('Your word,' + word + ', comes after banana')
else:
    print('Alright')

Your word,Peach, comes b4 banana

In [111]:
# Strings are examples pf Python objects. an object contains both data(the string) and methods i.e. functions built
# into the object

# the function 'dir' list the mehods available for an object. 'type function shows the type of object; the 'dir'
# function shows the available methods

stuff = 'Hi Ming'
type (stuff)

str

In [112]:
# Calling a method is like calling a function (takes an arg and returns a value) but the syntax is different

#dir(stuff)

In [113]:
help(str.capitalize)

Help on method_descriptor:

capitalize(...)
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [114]:
# invocation - invoking upper on the word

word = 'banana'
new_word = word.upper()
print(new_word)

BANANA

In [115]:
# string method 'find'

word = 'banana'
index = word.find('a')
print(index)

1

In [116]:
# string method - find substrings

word = 'banana'
index = word.find('na')
print(index)

2

In [117]:
# string method takes as a second arg the index where it should start

word = 'banana'
index = word.find('na', 3)
print(index)

4

In [118]:
# remove white space

line = '   here we paint   '
line.strip()

'here we paint'

In [119]:
# startswith  required matching cases

line = 'Have a ride'
#line.startswith('Have')
line.startswith('have')

False

In [120]:
# method lower is called then use startswith

line = 'Have a ride'
#line.lower()
line.lower().startswith('h')

True

In [121]:
# Parsing strings

# Find the position of the @ sign; Then find the postion of the fist space after the @ sign
# Slice - extract the characters from one beyond the @ sign thru up to but not including the space character

data = 'From steve.macqueen@uct.ac.za Sat Jan 20 09:14:16:2008'
atpos = data.find('@')
print(atpos)

sppos = data.find(' ', atpos)
print(sppos)

host = data[atpos+1:sppos]
print(host)

19
29
uct.ac.za

In [122]:
# Format Operator - %

# the %d means that the second operand should be formatted as an integer.( d = decimal)
# Result is the string '42', not to be confused with the integer value 42

camels = 42
'%d' % camels

'42'

In [123]:
# A format sequence can appear anywhere in a string; can embed a value in a sentence
camels = 3
'I viewed %d camels' % camels

'I viewed 3 camels'

In [124]:
# if more than one format sequence in the string, the second arg has to be tuple. Each format sequence is matched 
# with an element of the tuple. (%d-format an integer), (%g-format a gloating point), (%s-format a string)

'In %d months I viewed %g %s.' %(3, 0.6, 'camels')

'In 3 months I viewed 0.6 camels.'